apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: customdomains.managed.openshift.io
spec:
  group: managed.openshift.io
  names:
    kind: CustomDomain
    listKind: CustomDomainList
    plural: customdomains
    singular: customdomain
  scope: Cluster
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: CustomDomain is the Schema for the customdomains API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: CustomDomainSpec defines the desired state of CustomDomain
          properties:
            domain:
              description: This field can be used to define the custom domain
              type: string
          type: object
        status:
          description: CustomDomainStatus defines the observed state of CustomDomain
          type: object
      type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
